<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/potagerfront/css/styles.css') }}" type="text/css" media="all" />
	{% endblock %}
</head>
<body>
	<div id="main">
	    
	    {% block content %}
	    {% endblock %}

		{% block fos_user_content %}{% endblock %}

	    <div id="footer">
	    	<p>© GardenWar - 2014</p>
	    </div>
    </div>
</body>
</html>