<div id="nav" class="{{ app.user.faction.name|lower }}">
	<ul>
		<li class="{% if page == 'character' %}active{% endif %}"><a href="{{ path('personnage') }}">Personnage</a></li>
		<li class="{% if page == 'fight' %}active{% endif %}"><a href="{{ path('fight') }}">Rejoindre le champs</a></li>
		<li class="{% if page == 'account' %}active{% endif %}"><a href="{{ path('fos_user_profile_edit') }}">Compte</a></li>
	</ul>
</div>