<div id="nav" class="{{ app.user.faction.name|lower }}">
	<ul>
		<li class="{% if page == 'character' %}active{% endif %}"><a href="#">Statistiques</a></li>
		<li class="{% if page == 'fight' %}active{% endif %}"><a href="../fight/">Rejoindre le champs</a></li>
		<li class="{% if page == 'account' %}active{% endif %}"><a href="#">Compte</a></li>
	</ul>
</div>