<div id="plop">
    {% if fight.attacker.faction.name == 'Betterave' %} 
        {% if fight.attackerWin == 1 %}
             <img src="{{ asset('bundles/potagerfront/images/betterave_attack.gif') }}">
        {% elseif fight.attackerWin == -1 %} 
            <img src="{{ asset('bundles/potagerfront/images/kiwi_defend.gif') }}"> 
        {% elseif fight.attackerWin == 0 %} 
            Betterave et egalite
        {% else %}
            Blzenri zenimrn 
        {% endif %} 
        
    {% else %} 
    
        {% if fight.attackerWin == 1 %} 
            <img src="{{ asset('bundles/potagerfront/images/kiwi.gif') }}"> 
            {% elseif fight.attackerWin == -1 %} 
        <img src="{{ asset('bundles/potagerfront/images/betterave.gif') }}"> 
        {% elseif fight.attackerWin == 0 %} 
            Pas Beterrave et egalite
        {% endif %}
    {% endif %}
</div>