/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

@font-face {

	font-family: 'Brandon Grotesque Medium';
	src: url('../fonts/Brandon_med.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Brandon_med.woff') format('woff'), /* Modern Browsers */
	url('../fonts/Brandon_med.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Brandon_med.svg#42e0c7c233eb5259e2b1a7ec7e16d4ce') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	src: url('../fonts/Brandon_reg.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/Brandon_reg.woff') format('woff'), /* Modern Browsers */
	url('Brandon_reg.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/Brandon_reg.svg#50bf5a2005a5412419d6a4b30314e68e') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}

/* DEBUT CSS */

body {
	background: white;
	font-family: 'Brandon Grotesque Regular';
	background-image: url("../images/crossword.png");
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: #b2a47f;
}

#main {
	margin: 0 auto;
	overflow: hidden;
	width: 1200px;
}

#header {
	position: relative;
	z-index: 3;
	height: 118px;
}

#footer {
	border-top: 5px solid #b2a47f;
	background-color: #f9f8f8;
	width: 1200px;
	height: 50px;
}

#footer p {
	padding-top: 17px;
	text-align: center;
}

#logo {
	left: 520px;
	position: absolute;
	top: 20px;
}

#banner {
	position: relative;
	width: 1200px;
	height: 282px;
	z-index: 2;
}

#banner.home {
	background-image: url("../images/banner.jpg");
}

#banner h2 {
	font-family: 'Brandon Grotesque Medium';
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #312d23;
}

#about_game {
	background-color: rgba(255, 255, 255, 0.7);
	height: 187px;
	left: 85px;
	padding: 20px 30px;
	position: absolute;
	top: 25px;
	width: 320px;
}

#connect_form {
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	padding: 15px 30px;
	left: 740px;
	top: 49px;
	width: 283px;
}

#connect_form form [type=checkbox] {
	width: auto;
	height: auto;
	margin-bottom: 0;
}

#connect_form form input {
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
}

#connect_form form #send_connect {
	background-color: #fff;
	border: 0;
	width: 50px;
	height: 30px;
	margin-top: -3px;
}

#connect_form_left {
	float: left;
	width: 210px;
	margin-right: 5px;
}

#connect_form_right {
	float: left;
	padding-top: 45px;
	width: 55px;
	cursor: pointer;
}

#vs_round {
	height: 112px;
	left: 543px;
	position: absolute;
	top: 230px;
	width: 112px;
}

/* WRAPPER */

#wrapper.home {
	position: relative;
	background: #fff;
	padding-bottom: 45px;
}

#join_team {
	padding-top: 45px;
	position: relative;
	height: 120px;
	width: 1200px;
}

#betterave_team {
	position: absolute;
	width: 600px;
	height: 120px;
	background-color: #92162d;
}

#betterave_team > a, #kiwi_team > a {
	display: block;
	height: 80px;
	width: 600px;
	padding-top: 40px;
	font-family: 'Brandon Grotesque Medium';
	color: #fff;
	font-size: 46px;
	text-transform: uppercase;
	text-decoration: none;
}

#betterave_team a {
	position: absolute;
	left: 0;
	color: #FFFFFF;
	font-size: 46px;
	padding-left: 60px;
	text-transform: uppercase;
	width: 100%;
}

#kiwi_team {
	position: absolute;
	width: 1200px;
	height: 120px;
	left: 600px;
	background-color: #97ce38;
}

#kiwi_team a {
	left: 0;
	position: absolute;
	padding-left: 320px;
	width: 100%;
}

#victory_team {
	background-image: url("../images/bg_score.png");
	height: 144px;
	left: 328px;
	position: absolute;
	top: 35px;
	width: 552px;
}

#victory_team p {
	font-size: 30px;
	text-align: center;
}

.title_victory {
	color: #312D23;
	font-family: 'Brandon Grotesque Medium';
	font-size: 28px;
	left: 200px;
	position: absolute;
	text-transform: uppercase;
	top: 35px;
}

#full {
	background-color: #97CE38;
	height: 20px;
	left: 142px;
	position: absolute;
	top: 75px;
	width: 260px;
}

#progress_bar {
	background-color: #92162D;
	height: 20px;
}

#result_betterave {
	font-size: 20px;
	left: 98px;
	position: absolute;
	top: 75px;
}

#result_kiwi {
	font-size: 20px;
	position: absolute;
	right: 106px;
	top: 75px;
}

#choose_arrow {
	color: #312D23;
	font-family: 'Brandon Grotesque Medium';
	font-size: 20px;
	height: 90px;
	left: 500px;
	position: relative;
	text-transform: uppercase;
	top: 50px;
	width: 210px;
}

.choose_arrowLeft {
	height: 48px;
	left: -110px;
	position: absolute;
	top: -30px;
	width: 98px;
}

.choose_arrowRight {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	height: 48px;
	left: 210px;
	position: absolute;
	top: -30px;
	width: 98px;
}

/* CHARACTER */

#banner.betterave {
	background-image: url("../images/banner_betterave.jpg");
}

#banner.kiwi {
	background-image: url("../images/banner_kiwi.jpg");
}

#avatar {
	position: absolute;
	left: 265px;
	top: 68px;
	width: 160px;
	height: 154px;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
}

#avatar img {
	max-height: 95%;
	max-width: 95%;
	padding: 2.5%;
}

#avatar.betterave {
	border: 5px solid #92162d;
}

#avatar.kiwi {
	border: 5px solid #97ce38;
}

#myUser {
	position: absolute;
	left: 753px;
	padding: 20px 30px;
	color: #ffffff;
	font-size: 32px;
}

#myUser.betterave {
	background-color: #92162d;
}

#myUser.kiwi {
	background-color: #97ce38;
}

#myUser .deconnexion {
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}

#nav {
	background-color: #FFFFFF;
	height: 30px;
	padding: 10px 0;
	position: relative;
	z-index: 10;
}

#nav ul {
	margin: 0 auto;
	width: 1000px;
}

#nav ul li {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding-bottom: 20px;
	text-align: center;
	width: 330px;
}

#nav ul li:nth-child(2):before {
    border-left: 3px solid #92162d;
    content: "";
    left: -75px;
    position: relative;
    top: -2px;
}

#nav ul li:nth-child(2):after {
    border-left: 3px solid #92162d;
    content: "";
    left: 89px;
    position: relative;
    top: -2px;
}

#nav.beterave ul li:nth-child(2):before {
	border-left: 3px solid #92162d;
}

#nav.kiwi ul li:nth-child(2):before {
	border-left: 3px solid #97ce38;
}

#nav.beterave ul li:nth-child(2):after {
	border-left: 3px solid #92162d;
}

#nav.kiwi ul li:nth-child(2):after {
	border-left: 3px solid #97ce38;
}

#nav ul li a {
	color: #000000;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
}

#nav ul li a:hover {
	color: #b2a47f;
}

#nav ul li.active a:hover {
	color: #000;
}

#nav ul li.active {
	background-position: center 28px;
	background-repeat: no-repeat;
}

#nav.betterave ul li.active {
	background-image: url("../images/active_betterave.png");
}

#nav.kiwi ul li.active {
	background-image: url("../images/active_kiwi.png");
}

/* resumeFight */

#resumeFight {
	position: relative;
	width: 1200px;
	height: 120px;
}

#resumeFight.betterave {
	background-color: #92162d;
}

#resumeFight.kiwi {
	background-color: #97ce38;
}

#victoryFight {
	left: 155px;
	top: 15px;
	position: absolute;
	width: 160px;
	height: 40px;
	background-image: url("../images/picto_victory.png");
	background-repeat: no-repeat;
	background-position: center top;
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 63px;
}

#barreFight {
	position: absolute;
	width: 555px;
	left: 330px;
	top: 15px;
}

#barreFight .title {
	color: #ffffff;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
}

#zone_barreFight {
	position: relative;
	background-color: #fff;
	width: 530px;
	height: 45px;
	margin-top: 10px;
	color: black;
}

#myScoreWin {
	position: absolute;
	left: 25px;
	top: 17px;
}

#fullbarre_enemy {
	left: 60px;
	top: 14px;
	position: relative;
	width: 415px;
	height: 20px;
}

#fullbarre_enemy.kiwi {
	background-color: #97ce38;
}

#fullbarre_enemy.betterave {
	background-color: #92162D;
}

#egalityBarre {
	position: absolute;
	z-index: 0;
	height: 100%;
	background-color: #848283;
}

#mybarre {
	height: 100%;
	position: absolute;
}

#mybarre.betterave {
	background-color: #92162D;
}

#mybarre.kiwi {
	background-color: #97ce38;
}

#myScoreLoose {
	left: 495px;
	top: 17px;
	position: absolute;
}

#looseFight {
	left: 910px;
	top: 15px;
	position: absolute;
	width: 130px;
	height: 40px;
	background-image: url("../images/picto_loose.png");
	background-repeat: no-repeat;
	background-position: center top;
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 63px;
}

/* last3fights */

#last3fights {
	background-color: #fff;
	padding: 40px 0 0;
}

#last3fights > ul {
	margin: 0 auto;
	width: 800px;
}

#last3fights ul li {
	width: 235px;
	height: 180px;
	display: inline-block;
}

#last3fights ul li:nth-child(2) {
	margin: 0 40px;
}

#last3fights ul li.betterave {
	background-image: url("../images/lastFightBetterave.png");
	background-position: 3px 25px;
	background-repeat: no-repeat;
	color: #92162D;
}
#last3fights ul li.betterave a {
	color: #92162D;
	text-decoration: none;
}

#last3fights ul li.kiwi {
	background-image: url("../images/lastFightKiwi.png");
	background-position: 3px 25px;
	background-repeat: no-repeat;
	color: #97ce38;
}
#last3fights ul li.kiwi a {
	color: #97ce38;
	text-decoration: none;
}

#last3fights ul li.egal {
	background-image: url("../images/lastFightEgalite.png");
	background-position: 3px 25px;
	background-repeat: no-repeat;
	color: #848283;
}
#last3fights ul li.egal a {
	color: #848283;
	text-decoration: none;
}

.title_last3fights {
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}

.avatar_enemy {
	height: 92px;
	margin: 3px auto 15px;
	overflow: hidden;
	text-align: center;
	width: 102px;
}

.avatar_enemy img {
	max-height: 100%;
	max-width: 100%;
}

.name_enemy {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

#last3fights ul li a:hover .name_enemy {
	text-decoration: underline;
}

/* CARACTERISTIC */

#caracteristic {
	background-color: #FFFFFF;
	padding: 40px 120px;
}

#caracteristic > p {
	font-size: 20px;
}

.title_caracteristic {
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 10px;
	width: 290px;
	margin-bottom: 30px;
}

#caracteristic ul {
	margin-bottom: 30px;
}

#caracteristic li {
	display: inline-block;
	width: 33%;
	text-align: center;
}

#double_skills  {

}

#skills_left {
	float: left;
	width: 500px;
}

#skills_left > p {
	font-size: 20px;
	margin-bottom: 20px;
}

#skills_right {
	float: left;
}

.betterave .title_caracteristic {
	color: #92162d;
	border-bottom: 5px solid #92162d;
}

.kiwi .title_caracteristic {
	color: #97ce38;
	border-bottom: 5px solid #97ce38;
}

.skill {
	height: 60px;
	position: relative;
	width: 460px;
}

.skill.experience {
	margin-bottom: 20px;
	width: 910px;
}

.skill_title {
	position: absolute;
	top: 20px;
}

.addSkill {
	left: 420px;
	position: absolute;
	top: 20px;
}

.bar-main-container {
	position: absolute;
	margin: 10px auto;
	width: 300px;
	height: 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	color: #FFF;
	left: 100px;
}

.bar-main-container.azure {
	width: 800px;
}

.wrap {
	padding: 4px 8px;
}

.bar-percentage {
	float: left;
	background: rgba(0,0,0,0.13);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 9px 0px;
	width: 18%;
	height: 14px;
	text-align: center;
}

.azure .bar-percentage {
	width: 7%;
}

.bar-container {
	float: right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 10px;
	background: rgba(0,0,0,0.13);
	width: 78%;
	margin: 12px 0px;
	overflow: hidden;
}

.azure .bar-container {
	width: 92%;
}

.bar {
	float: left;
	background: #FFF;
	height: 100%;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* COLORS */
.azure {
	background: #38B1CC;
}
.emerald {
	background: #2CB299;
}
.violet {
	background: #8E5D9F;
}
.yellow {
	background: #EFC32F;
}
.red {
	background: #E44C41;
}

/* FIGHTS */

#duels {
	padding: 40px 0;
	position: relative;
	width: 1200px;
	color:#fff;
	font-size:35px;
}

#duels.betterave {
	background-color: #92162d;
}

#duels.kiwi {
	background-color: #97ce38;
}

#duels_left {
	float: left;
	width:33%;
	text-align:center;
}

#duels_center {
	float: left;
	width:33%;
	text-align:center;
	font-size:40px;
}

#duels_right {
	float: left;
	width:33%;
	text-align:center;
}

#ring {
	background-color: #fff;
	text-align:center;
}

#iWin {
	display:none;
}


/* OTHER PROFILES */

#identification h2 {
	padding: 15px 0;
	font-size: 2em;
	border: 5px white;
	border-style: solid none;
	background-color: #b2a47f;
}

/* ------------------------
 ---- HELPER ---------------
 ------------------------- */
.bkg-betterave {
	background-color: #92162d;
}

.bkg-kiwi {
	background-color: #97ce38;
}

.border-betterave {
	border-top: solid 10px #92162d;
}

.border-kiwi {
	border-top: solid 10px #97ce38;
}

.hideme {
	opacity: 0;
}

.margin-p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.clr-white {
	color: white;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	margin: 0 auto;
	text-align: center;
}



#rejoindre label {
	display: inline-block;
    width: 120px;
}

/* ------------------------
 ---- RAPHAËL --------------
 ------------------------- */

 /* ------------------------
 ---- NARINDRA --------------
 ------------------------- */

.addSkill {
    left: 420px;
    position: absolute;
    top: 15px;
}

.addSkill > img {
    max-width: 80%;
}

.prepareToFight {
    font-size: 40px;
    padding-top: 20px;
}

#plop {
	padding-bottom:50px;
}

#doFight {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width: 600px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	margin: 50px auto;
	text-transform: uppercase;
}
#doFight:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
#doFight:active {
	position:relative;
	top:1px;
}

#backToCharacters {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:310px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	margin: 50px 0 0 20px;
	text-transform: uppercase;
}
#backToCharacters:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}#backToCharacters:active {
	position:relative;
	top:1px;
}

 /* ------------------------
 ---- TRISTAN --------------
 ------------------------- */

  /* ------------------------
 ---- CAMILLE --------------
 ------------------------- */
.bkg-white {
	background-color: #fff;
}

.row {
  padding: 1em 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .row {
  margin-left: -10px;
  margin-right: -10px;
}

[class*=col-] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* Column */
.col-1  { width: 8.33333%; }
.col-2  { width: 16.66667%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33333%; }
.col-5  { width: 41.66667%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33333%; }
.col-8  { width: 66.66667%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33333%; }
.col-11 { width: 91.66667%; }
.col-12 { width: 100%; }

.btn {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-taupe {
	background: #dbc899; /* Old browsers */
background: -moz-linear-gradient(top,  #dbc899 0%, #b2a47f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbc899), color-stop(100%,#b2a47f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dbc899 0%,#b2a47f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dbc899 0%,#b2a47f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dbc899 0%,#b2a47f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dbc899 0%,#b2a47f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbc899', endColorstr='#b2a47f',GradientType=0 ); /* IE6-9 */

}

.btn-taupe:hover {
	background: #b2a47f; /* Old browsers */
background: -moz-linear-gradient(top,  #b2a47f 0%, #dbc899 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2a47f), color-stop(100%,#dbc899)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b2a47f 0%,#dbc899 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b2a47f 0%,#dbc899 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b2a47f 0%,#dbc899 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b2a47f 0%,#dbc899 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2a47f', endColorstr='#dbc899',GradientType=0 ); /* IE6-9 */

}

.btn-taupe.active {
	background: white;
	border: 3px solid #b2a47f;
	color: #000;
}
