h1 {
	font-size: 1.5em;
	margin-bottom: 1em; 
}

.margin-p {
	margin-top: 1em;
	margin-bottom: 0;
	line-height: 1.5em;
}


#rejoindre label {
	display: block;
}

.msg-error {
	color: #c62d1f;
	line-height: 1.5em;
}

#add-img {
	background: none repeat scroll 0 0 #e2e3e5;
    color: #BCBDBF;
    font-size: 8em;
    height: 150px;
    line-height: 150px;
    text-align: center;
    width: 150px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	  /* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;   

}

#btn-add-img {
	text-decoration: none;
	color: #000;
}

#btn-add-img p {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
}