/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

/* DEBUT CSS */


body {
	background-image:url("../images/crossword.png");
}

#main {
	background-color:#fff;
	width:1200px;
	margin: 0 auto;
}

#header {
	position:relative;
	z-index:2;
	text-align:center;
	height:118px;
}

#banner {
	position:relative;
	background-image:url("../images/banner.jpg");
	width:1200px;
	height:288px;
}

#banner h2 {
	font-size:30px;
	margin-bottom:20px;
}

#about_game {
	position:absolute;
	left:85px;
	top:25px;
	background-color:rgba(255,255,255,0.5);
	width:320px;
	height:197px;
	padding:10px 30px;
}

#connect_form {
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	padding:15px 30px;
	left:740px;
	top:60px;
	width:283px;
	height:123px;
}

#connect_form form {
	overflow:auto;
}

#connect_form form input {
	width:200px;
	height:25px;
	margin-bottom:10px;
}

#connect_form form #send_connect {
	background-color:#fff;
	border:0;
	width:50px;
	height:30px;
}

#connect_form_left {
	float:left;
	width:210px;
	margin-right:5px;
}

#connect_form_right {
    float: left;
    padding-top: 45px;
    width: 55px;
    cursor:pointer;
}

#wrapper.home {
	position:relative;
}

#team_home {

}

#team_home_left {
	float:left;
	width:600px;
	font-size:30px;
}

#team_home_left p {
	content:inherit;
	padding-bottom:5px;
	border-bottom:7px solid #92162d;
	width:250px;
	margin:10px auto;
	text-align:center;
}

#team_home_right {
	float:left;
	width:600px;
	font-size:30px;
}

#team_home_right p {
	width:150px;
	padding-bottom:5px;
	border-bottom:7px solid #97ce38;
	margin:10px auto;
	text-align:center;
}

#victory_team {
    height: 75px;
    left: 50%;
    margin-left: -188px;
    position: relative;
    text-align: center;
    top: 0;
    width: 375px;
}

#full {
    background-color: #97CE38;
    height: 20px;
    left: 50px;
    position: absolute;
    width: 260px;
}

#progress_bar {
	background-color:#92162D;
	height:20px;
}

#victory_team p {
	font-size:30px;
	text-align:center;
}

#result_betterave {
	position:absolute;
}

#result_kiwi {
    position: absolute;
    right: 0;
}
