{% extends 'PotagerFrontBundle::layout.html.twig' %} 

{% block content %}

<div id="header">
		<img id="logo"
		src="{{ asset('bundles/potagerbusiness/images/logo.png') }}"
		alt="Garden War" />
</div>
<div id="banner">
	<div id="">
		<img alt="avatar" src="{{ asset(user.avatar.url) }}">
		<p>
			Bienvenue {{ user.username }}

			<br>
			Tu fais partie des 
			{{ user.faction.name }}

			
		</p>
	</div>
</div>

{# dans la nav faire le lien vers "profil/edit" pour "compte" #}


{% endblock %}